.assert_identity {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem 0rem;
    gap: 1rem;
}

.arrow_nav {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    // margin-top: 2rem;

    @media screen and (max-width: 960px) {
        margin-top: 4rem;
    }
}
.assert_bio {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    .assert_header {
        h3 {
            font-size: 40px;
            font-weight: 700;
        }
        p {
            font-size: 16px;
            font-weight: 700;
            color: #717172;
            margin-top: -1.5rem;
        }
    }

    .assert_profile {
        width: 766px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e1e4e8;

        @media screen and (max-width: 960px) {
            flex-direction: column;
            width: 100%;
            border-bottom: none;
            align-items: flex-start;
        }
    }
    .assert_name_content {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: #acffac;
        border: 1px solid #80ff80;
        border-radius: 10px;
        padding:  -0rem 0.5rem;
    }

    @media screen and (max-width: 960px) {
        width: 100%;
        flex-direction: column;
        gap: 0;
        // justify-content: flex-start;
        align-items: flex-start;
    }
}
// .assert_details_Image{
//     margin-left: rem;
// }
.assert_details {
    margin-left: 6rem;

    .assert_details_Image {
        @media screen and (max-width: 960px) {
            width: 100%;
        }
    }
    @media screen and (max-width: 960px) {
        margin-left: 0rem;
        padding: 0rem 1.5rem;
    }
}

.assert_details_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 16px;
        font-weight: 700;
        color: #717172;
    }

    h3 {
        font-size: 30px;
        font-weight: 700;
        color: #f57316;
    }
    h3 {
        font-size: 25px;
        font-weight: 700;
    }
    button {
        background: #f57316;
        border: none;
        color: #fff;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        // padding: 0.4rem 2rem;
        margin: 0.4rem 0;
        cursor: pointer;
    }
    select {
        width: 100%;
        border: 1px solid #e1e4e8;
        padding: 0.5rem 1rem;
    }

    
}

.assert_modal_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    .cancel {
        background: #ffc094;
        border: none;
        color: #522200;
        border-radius: 10px;
        padding: 0.9rem 2rem;
        margin: 1rem 0;
        cursor: pointer;
    }
    .buy_assert {
        background: #f57316;
        border: none;
        color: #fff;
        border-radius: 10px;
        padding: 0.9rem 2rem;
        margin: 1rem 0;
        cursor: pointer;
    }

    @media screen and (max-width: 960px) {
        .cancel {
            padding: 0.5rem 1rem;
        }

        .buy_assert {
            padding: 0.5rem 1rem;
        }
    }
}
.assert_modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    h3 {
        font-size: 24px;
        font-weight: 700;
    }
    p {
        font-size: 16px;
        font-weight: 700;
        color: #717172;
        margin-top: -1rem;
    }
}
.assert_modal_contents {
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
    margin: 1rem 0;
    h3 {
        font-size: 16px;
        font-weight: 700;
        color: #717172;
    }

    select {
        width: 100%;
        border: 1px solid #e1e4e8;
        padding: 0.5rem 1rem;
        outline: none;
    }
    input {
        width: 100%;
        border: 1px solid #e1e4e8;
        padding: 0.5rem 1rem;
        outline: none;
    }

    @media screen and (max-width: 960px) {
        input {
            padding: 0.2rem .5rem;
            margin-left: 5px;
        }
        select {
            padding: 0.2rem .5rem;
            margin-right: 5px;
        }
    }
}
.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.assert_modal {
    background: white;
    filter: drop-shadow(1px 8px 10px #4444dd);
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 1rem;
    width: 610px;
    z-index: 999;
    // height: 520px;
    animation: scaleup 0.5s;
}

@keyframes scaleup {
    0% {
        opacity: 0;
        transform: scale(0.5);
        /* transform: translateY(-50px); */
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

.transaction_fee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .3rem 0;
    p:nth-child(1) {
        font-size: 16px;
        font-weight: 700;
        color: #ffa86a;
    }
    p:nth-child(2) {
        font-size: 16px;
        font-weight: 700;
        color: #7a3300;
    }
}
.assert_modal_details {
    border-radius: 16px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
}
.specified_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    p:nth-child(1) {
        font-size: 16px;
        font-weight: 700;
        color: #717172;
    }
    p:nth-child(2) {
        font-size: 16px;
        font-weight: 700;
        color: #151517;
    }
}

.assert_table {
    width: 100%;
    h2 {
        font-size: 24px;
        font-weight: 700;
        color: #717172;
    }
    .assert_table_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fafafa;
        padding: 0.7rem 1rem;
    }
    .assert_table_body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e3e3e3;
    }
    .assert_table_body_contents {
        border: 1px solid #e3e3e3;
        .assert_table_body_content {
            padding: 0.7rem 1rem;
            display: flex;
            justify-content: space-between;
            p:nth-child(1) {
                font-size: 16px;
                font-weight: 700;
                color: #717172;
            }
            p:nth-child(2) {
                font-size: 16px;
                font-weight: 700;
                color: #151517;
            }
        }
    }
}

.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 0.7rem 1rem;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.error {
    border: 1px solid red !important;
    background: #fcebeb !important;
}

.btn_disabled {
    cursor: not-allowed !important;
    background: #f5f5f5 !important;
    color: #717172 !important;
}

.transition {
    transition: all 0.3s ease-in-out;
}
.sell_button {
    background: #ffd9be !important;
    color: #522200 !important;
}
.assert_sell_button{
    button: nth-child(2){
        margin-top: -0.5rem;
    }
  
    @media screen and (max-width: 960px) {
        display: flex;
        flex-direction: column;
    }
        
    }
