.assert_overview {
    display: flex;
    justify-content: space-between;
}
.viewlistings {
    padding: 2rem 0.5rem;
}
.viewlistings_title {
    display: flex;
    width: 100%;
    // gap: 16rem;
    align-items: center;
    background: #fff;
    // display: flex;
    padding: 0.5rem 0.7rem;
    .datebox {
        font-size: 12px;
        font-weight: 700;
        width: 100%;
    }
    .searchbox {
        background-color: #fafafa;
        // border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 0.2rem 0.7rem;
        // padding: 16px, 21px, 16px, 21px;
        display: flex;
        width: 100%;
        align-items: center;

        input {
            width: 100%;
            background: none;
            border: none;
            padding: 0.5rem 0.5rem;
            outline: none;
        }
    }
}

.viewlistings_body {
    padding: 0.5rem 0.7rem;
    margin-top: 2rem;

    .viewlistings_header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
    .assert_balance {
        display: flex;
        flex-direction: row;
        .equitybalance {
            background-image: url('../../public/dashboard/equityvalue.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 184px;
            width: 345px;
            padding: 1rem;

            p {
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                margin-top: 2rem;
            }
            h1 {
                font-size: 36px;
                font-weight: 700;
                color: #fff;
                margin-top: -0.5rem;
            }
        }
        .rentalbalance {
            background-image: url('../../public/dashboard/rentalvalue.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 184px;
            width: 345px;
            padding: 1rem;

            p {
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                margin-top: 2rem;
            }
            h1 {
                font-size: 36px;
                font-weight: 700;
                color: #fff;
                margin-top: -0.5rem;
            }
        }
        @media screen and (max-width: 960px){
            flex-direction: column;
            .equitybalance, .rentalbalance {
                width: 100%;
            }
        }
    }
}
.newlistings {
    /* width: 395px; */
    background-color: #ffffff;
    overflow-y: scroll;
    cursor: pointer;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    /* padding: 2rem 50px; */
}
.newlistings_button {
    display: flex;
    justify-content: center;
}
.newlistings_button button {
    padding: 1rem 1.5rem;
    background: #f57316;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
}
.newlistings_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1rem 0;
}
.assert_balance {
    display: flex;
    gap: 1rem;
}
.assert__sew {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0.7rem;

    .assert__card {
        background-color: #ffffff;
        border-radius: 8px;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
        padding: 0.3rem 1rem;
        p {
            font-size: 12px;
            font-weight: 700;
            color: #717172;
            margin-top: 2rem;
        }
        h3 {
             margin-top: -0.4rem;
            font-size: 32px;
        }

        .assert__card_icon{
            background-color: #FAFAFA;
            padding: 1.5rem;
        }
    }

    @media screen and (max-width: 960px){
     flex-direction: column;
    }
        
}
.my_assert{

    .my_assert__card{
        background-color: #ffffff;
        border-radius: 10px;
        padding: 1rem;

        .my_assert__card_header{
            background-color: #FAFAFA;
            display: flex;
            border-radius: 10px;
            justify-content: space-between;
            h4{
                color: #717172;
                font-size: 12px;
                padding: 0.5rem 0.4rem;
            }
        }
        .my_assert__card_body{
             background-color: #ffff;
            display: flex;
            border-radius: 10px;
            justify-content: space-between;
            cursor: pointer;

            h4{
                color: #151517;
                font-size: 12px;
                padding: 0.5rem 0.4rem;
            }
        }
    }
}

.newlistings{
    // width: 340px;
}
.newlistings::-webkit-scrollbar {
    width: 2px;
}
.newlistings::-webkit-scrollbar-track {
    background-color: transparent;
}
.newlistings::-webkit-scrollbar-thumb {
    background-color: #f57316;
    border-radius: 5px;
}

@media screen and (max-width: 1394px) {
    .assert_balance {
        flex-direction: column;
        flex: 1;
    }
}
@media screen and (max-width: 960px) {
    .assert_overview {
        flex-direction: column;
    }
    .viewlistings {
        width: 100%;
    }
    .newlistings {
        width: 100%;
        position: relative;
    }
    .assert_balance {
        flex-direction: column;
    }
}
