/** @format */

.modal_container {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	backdrop-filter: blur(5px);
	padding: 1rem;
	display: flex;
	z-index: 100;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
}

.wallet_modal {
	width: 500px;
	height: auto;
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
	background: #fff;
	z-index: 100;
	position: fixed;
	border-radius: 10px;
	animation: scaleup 0.5s;
	padding: 1rem;
	@media (max-width: 768px) {
		width: 320px;
		height: 550px;
	}
}
@keyframes scaleup {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scaleX(1);
	}
}
.wallet_modal h5 {
	text-align: center;
	color: green;
}

.wallet_modal_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wallet_modal_body {
	display: flex;
	// flex-direction: column;
	// padding: 3rem 3rem;
	// justify-content: center;
	align-items: center;

	form {
		// display: flex;
		flex-direction: column;

		// justify-content: start;
		input {
			padding: 18.5px 14px;
			border-radius: 5px;
			border: 1px solid #a6abb7;
			width: 100%;
			margin: 0.5rem 0;

			&:focus {
				outline: none !important;
				border-color: #f57316;
			}
		}
		label {
			margin-top: 1.2rem;
		}

		button {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 3rem;
			padding: 1rem 0;
			border: none;
			border-radius: 5px;
			background: #f57316;
			color: #fff;
			font-size: 18px;
			height: 3rem;
			width: 100%;
			margin-bottom: 0.1rem;
			// margin: 0.1rem 0;
			cursor: pointer;
		}
		button:hover {
			opacity: 0.8;
		}
	}
}
