/** @format */

.ecocards {
	transition: all 0.3s ease-in-out;
	display: flex;
	justify-content: space-between;
	// box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	height: 180px;
	gap: -1rem;
	border-radius: 2px;
	padding: 0.3rem 1rem;
	.ecocards_card {
		border: #808080 solid 1px;
		width: 219.8px;
		background: #ffffff;

		p {
			font-size: 16px;
			padding: 0rem 1rem;
			font-style: normal;
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}
	}
}
