/* @tailwind base;
@tailwind components;
@tailwind utilities; */
:root {
    color-scheme: light;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: Satoshi, sans-serif;
    overflow-x: hidden;
    background: white;
}
/* html{
  color-scheme: light;
} */
.gaga_online {
    background: white;
}
a {
    color: inherit;
    text-decoration: none;
}

.loaders {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 30rem;
    /* display: flex;
    justify-content: center; */
    /* align-items: center;
    margin: 1rem 30rem; */
    /* width: 100%; */
}

* {
    box-sizing: border-box;
}
.loader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 30rem;
}
@media (max-width: 480px) {
    .loader_container {
        margin: 1rem 10rem;
    }
}
.container {
    padding: 0 1rem;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/* 
Dashboard Layout Styles */

.dashboard {
    position: absolute;
    max-height: 100vh;
    width: 80%;
    right: 0;
    background: #fafafa;
}

.sidebar_flex {
    display: flex;
}
.sidebar_main {
    width: 20%;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    z-index: 999;
}
.sidebar_main::-webkit-scrollbar {
    width: 6px;
}
.sidebar_main::-webkit-scrollbar-track {
    background-color: transparent;
}
.sidebar_main::-webkit-scrollbar-thumb {
    background-color: #f57316;
    border-radius: 10px;
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
        color: black;
    }
    body {
        background: white;
        color: black;
    }
} */

@media screen and (max-width: 960px) {
    .sidebar_main {
        display: none;
    }
    .sidebar_flex {
        flex-direction: column;
    }
}
