/** @format */

.container {
	padding: 0 2rem;
}
.nav_heroImage {
	background-image: url("../public/landingpageasserts/dark_theme.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.nav_joinImage {
	background-image: url("../public/joinwaitlistimages/joinwaitlist.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}